.nhsuk-form-group {
    margin-bottom: 24px;
}
.nhsuk-label {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.47368;
}
.nhsuk-label {
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    display: block;
    margin-bottom: 4px;
}
.nhsuk-input {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.47368;
}
.nhsuk-input {
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 2px solid #4c6272;
    border-radius: 0;
    box-sizing: border-box;
    height: 40px;
    margin-top: 0;
    padding: 4px;
    width: 100%;
}